.nonotes {
  margin-top: 1.4rem;
}

.notessection {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.notes {
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

  /* fixed width */
  width: 80%;

  color: white;
  text-align: left;
}

.notes h3 {
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
}

.noteCard {
  background-color: #2b2b2b;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;

  width: 100%; /* <-- take full width of parent (.notes) */
  box-sizing: border-box;

  display: flex;
  flex-direction: column; /* ✅ Stack content vertically */
  gap: 10px;

  word-wrap: break-word;
  overflow-wrap: break-word;
}

.notedata {
  flex-grow: 1;
}

.noteTitle {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.noteDescription {
  font-size: 1rem;
  color: #ccc;
  margin: 1rem 0rem;
}

.notecarddelete {
  display: flex;
  justify-content: flex-start; /* ✅ Left align */
}

.notecarddelete button {
  background-color: #a54242;
  border: none;
  padding: 0.5rem 0.9rem;
  font-size: 0.9rem;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  transition: background-color 0.2s;
}

.notecarddelete button:hover {
  background-color: #873636;
}
/* Responsive */
@media (max-width: 768px) {
  .notes {
    width: 80%;
  }
}
