h2,
h3 {
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 200;
  font-size: 1rem;
  color: #ffffff;
}

.dashboard {
  background-color: #121212;
  min-height: 100vh;
  padding: 1rem 8rem;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.tradingperformanceh2 {
  margin-bottom: 70px;
}

.chartContainer {
  width: 100%;
  height: 300px;
  background: #1e1e1e;
  border-radius: 12px;
  padding: 15px;
  overflow-x: hidden;
  box-sizing: border-box;
}

.chartTitle {
  color: #ffffff;
  margin-bottom: 10px;
}

/* Left + Right Panels */
.tradingdata {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0 150px 0;
}

.tradingdatal {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tradingdatal h3 {
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tradingdatal h3 span {
  margin-left: 6px;
}

.linecontainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.line {
  width: 95%;
  height: 2px;
  background-color: #88817a5d;
  border-radius: 20px;
}

.tradingdatar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 280px;
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

/* Icons */
.icon {
  padding: 0.5rem;
  border-radius: 10px;
  margin-right: 10px;
}

.iconBlue {
  background-color: rgba(74, 164, 243, 0.416);
}

.iconGreen {
  background-color: rgba(0, 128, 0, 0.557);
}

.iconYellow {
  background-color: rgb(255, 187, 0);
}

.blue {
  color: rgba(74, 164, 243, 0.416);
}

.yellow {
  color: rgb(255, 187, 0);
}

.profit {
  color: rgb(26, 255, 26);
}

.loss {
  color: red;
}

.neutral {
  color: orange;
}

/* Charts Grid */
.tradingperformance {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 150px;
  column-gap: 40px;
  margin: auto;
}

.tradingperformance h2 {
  margin-bottom: 35px;
}

.chartCard {
  background-color: #1e1e1e;
  color: white;
  padding: 0 30px;
  text-align: center;
  border-radius: 8px;
}

.chartCard h3 {
  margin: 20px 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f0f0f0;
}

.chartcontainer {
  width: 100%;
}

/* Quick Data */
.quickdata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 20px 0;
}

.quickdata p {
  margin: 0;
  padding: 8px 10px;
  border-radius: 8px;
  background-color: rgba(84, 83, 83, 0.416);
}

/* Responsive */
@media (max-width: 768px) {
  .tradingdata {
    flex-direction: column;
  }

  .tradingperformance {
    grid-template-columns: 1fr;
  }
}
